<h1>註冊會員</h1>

<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_for(@user, url: "/users") do |f| %>

<div class="field">
  <%= f.label "您的E-mail" %>
  <%= f.email_field :email %>
</div>

<div class="field">
  <%= f.label "請輸入密碼" %>
  <%= f.password_field :password %>
</div>

<div class="field">
  <%= f.label "再確認密碼" %>
  <%= f.password_field :password_confirmation %>
</div>

<%= f.submit "創建帳號"%>
<% end %>