<h1><%= "EDIT: " + @bucket.name %></h1>
<%= form_for(@bucket) do |f| %>
    <br><%= f.label :description%><br>
    <p><%= @bucket.description %></p>
    <br><%= f.submit %><br>
<% end %>
<br><%= button_to "Delete Bucket", @bucket, :method => :delete, data: {confirm: 'Are you sure?'} %>