<!DOCTYPE html>
<html>
  <head>
    <title>TaskManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body  class="text-center" style="margin: 4em">
    <%= render "shared/navbar" %>
  <div class="container">
    <div class="row">
    <button type="button">
    <%= link_to "All Buckets", buckets_path%> | 
    <%= link_to "All Tasks", tasks_path%> |
    <%= link_to "Profile", profile_users_path%>
    </button>  
    <%= yield %>
    </div>
    <div style="margin: 4em">
    <%= button_to "Home", root_path, method: :get %>
    </div>
  </div>
  </body>
</html>
